<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Declarare venituri</title>
</head>
<body>
<div class="page">
    <div class="sidebar">
        <div class="logo">
            <img src="/images/logoANAF.png" alt="logo" class="logo_img">
            <p>Agenția Națională de Administrare Fiscală</p>
        </div>

        <div class="login_display">
            <p>Bun venit, <b><span th:text="${username}"></span></b>!</p>
            <div class="options">
                <a href="/logout">Logout</a>
                <a href="/">Pagina principală</a>
                <a href="/informatii">Informații personale</a>
                <a href="/bunuri">Declarare bunuri</a>
                <a href="/conturi_bancare">Declarare conturi bancare</a>
                <a href="/plata_taxe">Plătește taxele</a>
                <a href="/istoric_taxe">Istoric taxe</a>
            </div>
        </div>
    </div>

    <div class="form_container">
        <div class="title">
            <h2>Declarare venituri</h2>

            <div class="border-decoration">
                <span class="bd1"></span>
                <span class="bd2"></span>
                <span class="bd3"></span>
            </div>
        </div>

        <form action="/venituri" method="post" class="form">
            <label for="tip_venit">Tip venit:</label>
            <select id="tip_venit" name="tip_venit">
                <option value="" selected disabled>Alege o optiune</option>
                <option value="salariu" th:selected="${tip_venit == 'salariu'}">Salariu</option>
                <option value="pensie" th:selected="${tip_venit == 'pensie'}">Pensie</option>
                <option value="indemnizatie" th:selected="${tip_venit == 'indemnizatie'}">Indemnizație</option>
                <option value="chirie" th:selected="${tip_venit == 'chirie'}">Chirie</option>
                <option value="investitii" th:selected="${tip_venit == 'investitii'}">Investiții</option>
                <option value="dividende" th:selected="${tip_venit == 'dividende'}">Dividende</option>
                <option value="alte_venituri" th:selected="${tip_venit == 'alte_venituri'}">Alte venituri</option>
            </select>

            <label for="suma_venit">Suma venit:</label>
            <input type="number" id="suma_venit" name="suma_venit" th:value="${suma_venit}">

            <label for="data_venit">Data venit:</label>
            <input type="date" id="data_venit" name="data_venit" th:value="${data_venit}">

            <button type="submit" class="submit_button">Salvează</button>
        </form>

        <!--error message-->
        <div th:if="${errorMessage}" class="">
            <p class="error_message" th:text="${errorMessage}"></p>
        </div>
    </div>

    <div class="h_space"></div>

    <div th:if="${venituriExists}" class="table_container">
        <div class="title">
            <h2>Lista venituri</h2>

            <div class="border-decoration">
                <span class="bd1"></span>
                <span class="bd2"></span>
                <span class="bd3"></span>
            </div>
        </div>

        <table>
            <tr>
                <th>Tip venit</th>
                <th>Suma venit</th>
                <th>Data venit</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="venit : ${venituri}">
                <td th:text="${#strings.capitalize(venit.tip_venit)}"></td>
                <td th:text="${venit.suma_venit}"></td>
                <td th:text="${venit.data_venit}"></td>
                <td>
                    <form action="/venituri/delete/" method="post">
                        <input type="hidden" name="id_venit" th:value="${venit.id_venit}">
                        <input type="hidden" name="action" value="check">
                        <button type="submit" class="delete_button">Șterge</button>
                    </form>
                </td>
                <td>
                    <form action="/venituri/update/" method="get">
                        <input type="hidden" name="id_venit" th:value="${venit.id_venit}">
                        <button type="submit" class="update_button">Actualizează</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:if="${deleteCheck}" class="modal">
    <div class="modal_box">
        <p>Confirmati stergerea?</p>
        <form action="/venituri/delete/" method="post">
            <input type="hidden" name="id_venit" th:value="${id_venit}">
            <button type="submit" name="action" value="da">Da</button>
            <button type="submit" name="action" value="nu">Nu</button>
        </form>
    </div>
</div>
</body>
</html>